<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vanken">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".QuejaDeTecnicoActivity"></activity>
        <activity android:name=".QuejaTecnicoActivity" />
        <activity android:name=".EvaluarServicioTecnicoActivity" />
        <activity
            android:name=".detallePeticionTecnicoActivity"
            android:parentActivityName=".DescripcionPeticionTecnicoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DescripcionPeticionTecnicoActivity" />
        </activity>
        <activity android:name=".DescripcionPeticionTecnicoActivity" />
        <activity android:name=".prueba" />
        <activity
            android:name=".MainTecnicoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainAdmin"
            android:label="@string/title_activity_main_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainCliente"
            android:label="@string/title_activity_main_cliente"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RegistroActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity" />
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyB7JYZoOvvUP9whDGZqUYpjNDFWqfMRQ9Y"></meta-data>
    </application>

</manifest>